{% if menus is not empty %}
    <nav class="primary-menu">
        <ul class="menu-container">
            {% for k, menu in menus %}
                <li class="menu-item">
                    <a class="menu-link" href="{{ menu.target }}"><div>{{ menu.name }}</div></a>
                    {% if menu.children() is not empty %}
                        <ul class="sub-menu-container">
                            {% for k1, val in menu.children() %}
                                <li class="menu-item">
                                    <a class="menu-link" href="{{ val.target }}" title="{{ val.name }}"><div>{{ val.name }}</div></a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}